In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('quikr_car.csv')

In [4]:
df

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
887,Ta,Tara,zest,"3,10,000",NaN,NaN
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

# Data cleaning.

- year - many non year values , to int.
- price - 'has ask for price', to int, remove coma.
- kms_driven - remove'kms', to int, nan values , remove coma.
- fuel_type - nan values.
- name - slice first three words.

In [6]:
df = df[df['year'].str.isnumeric()]

In [7]:
df['year'] = df['year'].astype(int)

C:\Users\abc\AppData\Local\Temp\ipykernel_2252\1483339248.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = df['year'].astype(int)

In [8]:
df['year'].unique()

array([2007, 2006, 2018, 2014, 2015, 2012, 2013, 2016, 2010, 2017, 2008,
       2011, 2019, 2009, 2005, 2000, 2003, 2004, 1995, 2002, 2001])

In [9]:
df =df[df['Price'] != 'Ask For Price']

In [10]:
df['Price'] = df['Price'].str.replace(',', '').astype(int)

In [11]:
 df['kms_driven'] = df['kms_driven'].str.split().str.get(0).str.replace(',', '')

In [12]:
df = df[df['kms_driven'].str.isnumeric()]

In [13]:
df['kms_driven'] = df['kms_driven'].astype(int)

In [14]:
df['fuel_type'].unique()

array(['Petrol', 'Diesel', nan, 'LPG'], dtype=object)

In [15]:
df = df[~df['fuel_type'].isna()]

In [16]:
df = df.reset_index(drop=True)

In [17]:
df

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
2,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
3,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
4,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...
811,Maruti Suzuki Ritz VXI ABS,Maruti,2011,270000,50000,Petrol
812,Tata Indica V2 DLE BS III,Tata,2009,110000,30000,Diesel
813,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
814,Tata Zest XM Diesel,Tata,2018,260000,27000,Diesel
815,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [18]:
df['name'] = df['name'].str.split().str.slice(0,3).str.join(' ')

In [31]:
df

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
809      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
810          Tata Indica V2      Tata  2009  110000       30000    Diesel
811    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
812            Tata Zest XM      Tata  2018  260000       27000    Diesel
813      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[814 rows x 6 columns]

In [26]:
df = df[df['Price'] < 3100000].reset_index(drop=True)

In [30]:
df.to_csv('cleaned_df.csv')

In [51]:
# Extract the features and labels.

x = df.iloc[:,[0,1,2,4,5]]
y = df.iloc[:,3]

In [56]:
# importing the requirements.

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [129]:
x_train, x_test, y_train, y_test = train_test_split(x,y , test_size = 0.2, random_state=np.argmax(scores))

In [130]:
ohe = OneHotEncoder()

In [131]:
ohe.fit(x[['name', 'company', 'fuel_type']])

OneHotEncoder()

In [132]:
column_trans = make_column_transformer((OneHotEncoder(categories= ohe.categories_, drop= 'first'), 
                                        ['name', 'company', 'fuel_type']), remainder = 'passthrough')

In [134]:
lr = LinearRegression()

In [135]:
pipe = make_pipeline(column_trans, lr)

In [136]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0', 'Audi A8',
       'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat Diesel',
       'Chevrolet...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)],
                                                                drop='first'),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [139]:
y_pred = pipe.predict(x_test)

In [140]:
print(r2_score(y_pred, y_test))

0.8334485583732092

In [144]:
print(y_pred[4])

744580.8421727717

In [142]:
print(x_test['name'])

614         Hyundai Eon Era
684          Hyundai Santro
275     Hyundai Santro Xing
76            Mini Cooper S
398       Hyundai Creta 1.6
               ...
227             Datsun GO T
408      Maruti Suzuki Alto
240           Mini Cooper S
247    Maruti Suzuki Esteem
171             Ford Fiesta
Name: name, Length: 163, dtype: object

In [143]:
y_test

614     190000
684      60000
275      59000
76     1891111
398     950000
        ...
227     245000
408     230000
240    1891111
247      95000
171     274999
Name: Price, Length: 163, dtype: int32

# finding the better random_state value for better score.

In [126]:


scores = []

for i in range(1000):
    x_train, x_test, y_train, y_test = train_test_split(x,y , test_size = 0.2, random_state=i)
    lr = LinearRegression()
    pipe = make_pipeline(column_trans, lr)
    pipe.fit(x_train,y_train)
    z_pred = pipe.predict(x_test)
    scores.append(r2_score(y_test, z_pred))

In [127]:
np.argmax(scores)

922

In [128]:
scores[np.argmax(scores)]

0.8401041886022671

In [145]:
x_train, x_test, y_train, y_test = train_test_split(x,y , test_size = 0.2, random_state=np.argmax(scores))
lr = LinearRegression()
pipe = make_pipeline(column_trans, lr)
pipe.fit(x_train,y_train)
z_pred = pipe.predict(x_test)
print(r2_score(y_test, z_pred))

0.8401041886022671

In [147]:
import pickle

In [148]:
pickle.dump(pipe, open('LinearRegression.pkl' , 'wb'))

In [163]:
pipe.predict(pd.DataFrame([['Hyundai Grand i10', 'Hyundai', 2010, 50000, 'Petrol']], columns = ['name', 'company', 'year', 'kms_driven', 'fuel_type']))

array([157179.48549728])

In [154]:
df

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
809      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
810          Tata Indica V2      Tata  2009  110000       30000    Diesel
811    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
812            Tata Zest XM      Tata  2018  260000       27000    Diesel
813      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[814 rows x 6 columns]